<h1>Intervals</h1>
<div class="interval-container">
  <app-interval
    [allIDs]="intervalIDs"
    [interval]="interval"
    [editable]="editable"
    [activityType]="activityType"
    (deleteInterval)="handleDeleteInterval($event)"/>
</div>

<button mat-stroked-button color="primary" (click)="addInterval()">Add Interval</button>
<button mat-stroked-button color="primary" (click)="addStep()">Add Step</button>
<button mat-stroked-button color="primary" (click)="logInterval()">Log Interval</button>
