.time-constraints-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.calendar-container {
  margin: 20px;
}

.date-nav-btn {
  display: flex;
  column-gap: 1em;
}

.cal-utils {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
