$mat-primary: #7b1fa2;
$mat-accent: #69f0ae;
$mat-warn: #f44336;

$mat-primary-v1: rgba(123, 31, 162, .4);
$mat-primary-v2: #432c4d;
$mat-primary-v3: rgba(156, 39, 176, .3);
$mat-primary-v4: rgba(123, 31, 162, .54);
$mat-primary-v5: rgba(123, 31, 162, .2);
$mat-primary-v6: #df37fc;
$mat-primary-v7: #9c27b0;

$mat-accent-v1: rgba(105, 240, 174, .2);
$mat-accent-v2: #a8dab5;
$mat-accent-v3: #46a35e;
$mat-accent-v4: rgba(105, 240, 174, .4);
$mat-accent-v5: rgba(105, 240, 174, .3);
$mat-accent-v6: rgba(105, 240, 174, .54);
$mat-accent-v7: rgba(105, 240, 174, .2);
$mat-accent-v8: rgba(185, 246, 202, .3);
$mat-accent-v9: #3e6050;

$mat-warn-v1: rgba(249, 171, 0, .2);
$mat-warn-v2: rgba(244, 67, 54, .2);
$mat-warn-v3: rgba(244, 67, 54, .4);
$mat-warn-v4: rgba(244, 67, 54, .3);
$mat-warn-v5: #613532;
$mat-warn-v6: rgba(244, 67, 54, .54);
$mat-warn-v7: rgba(244, 67, 54, .2);

$background: 121212;
$muted: #777;
$muted-button: #979797;

