.width-5 {
  width: 5rem !important;
}

.width-9 {
  width: 9rem !important;
}

.width-10 {
  width: 10rem !important;
}

.width-15 {
  width: 15rem !important;
}

.width-20 {
  width: 20rem !important;
}

.width-25 {
  width: 25rem !important;
}
