@import "../../../style/color-palette";

@media only screen and (max-width: 767px) {

  .home-wrapper {
    display: block;
    gap: 1rem;
  }

  mat-card-title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 767px) {
  .home-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
}

.home-content-left {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.planned-header {
  justify-content: space-between;
}

.card-container {
  background: $mat-primary-v5;
}

.athlete-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  //hard pixel value to match card padding
  padding: 16px 0 16px 0;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 1rem;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.fill {
  width: 100%;
}
