<section class="centered-column-container">
  <div class="main-container centered-row-container">
    <form [formGroup]="form" (ngSubmit)="performRegistration()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="hawara@oida.at" required formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          *ngIf="form.controls.email.errors?.['required']"> Email is required
        </mat-error>
        <mat-error *ngIf="form.controls.email.errors?.['email']"> Email is not correct</mat-error>
        <mat-error *ngIf="form.controls.email.errors?.['taken']"> Email already taken</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['password'].errors">Field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput type="text" placeholder="John" required formControlName="name">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>

      <div class="centered-container">
        <div>
          <mat-checkbox (click)="acceptedTerms = !acceptedTerms" color="">I agree to the&nbsp;</mat-checkbox>
          <a style="display: inline-block; transform: translateY(-3.15px)" target="_blank"
             href="https://www.whatsapp.com/legal/?lang=de"><u>terms and conditions</u></a>
        </div>

        <div class="whitespace-tiny"></div>

        <!-- REGISTER BUTTON -->
        <button class="register-button stroked" mat-stroked-button color="primary"
                [disabled]="!form.valid  || !acceptedTerms" type="submit">
          SIGN UP
        </button>
      </div>

    </form>
  </div>

</section>
