<div class="width-100 centered-column-container">
  <div class="main-container">
    <h2>Password reset</h2>
    <form [formGroup]="forgotForm" (ngSubmit)="onFormSubmit()">
      <!-- EMAIL -->
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="organizer@example.org" required formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="forgotForm.controls['email'].errors?.['required']"> Email is required</mat-error>
        <mat-error *ngIf="forgotForm.controls['email'].errors?.['email']"> Email is not correct</mat-error>
      </mat-form-field>

      <!-- CONTINUE BUTTON -->
      <div class="whitespace-xtiny"></div>
      <div class="centered-container">
        <button class="login-button stroked" mat-stroked-button color="primary"
                [disabled]="!forgotForm.valid" type="submit">CONTINUE
        </button>
      </div>

    </form>
  </div>
</div>
