.wrapper {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
}

.cal-utils {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 950px) {
    flex-direction: column;
    row-gap: .25rem;
  }
}

.wrapper > div {
  width: 100%;
}

.date-nav-btn {
  display: flex;
  column-gap: 1em;
}

h2 {
  margin: 0 !important;
}

.constraints {
  float: right;
  margin-top: 20px;
}
