<mat-card class="outer-card" [ngStyle]="{'background-color': service.getColor(step.type)}">
  <mat-card-header class="card-header">
    <mat-card-title class="title">{{step.type}}</mat-card-title>
    <div *ngIf="editable">
      <button mat-icon-button matSuffix (click)="onEditStep()" type="button" class="icon-button"><mat-icon class="icon">edit</mat-icon></button>
      <button mat-icon-button matSuffix (click)="onDeleteStep()" type="button" class="icon-button"><mat-icon class="icon">delete</mat-icon></button>
    </div>
  </mat-card-header>

  <mat-card class="inner-card">
    <mat-card-content class="step-content">

      <div class="step-content-left">
        <div class="step-info">
          <p>
            <b *ngIf="step.durationType === StepDurationType.LAPBUTTON">{{step.durationType}}</b>
            <b *ngIf="step.durationType !== StepDurationType.LAPBUTTON">
              {{step.durationDistance}} {{step.durationDistanceUnit}}
            </b>
          </p>
          <p>Duration</p>
        </div>

        <div class="step-info" *ngIf="step.targetFrom || step.targetTo">
          <p>
            <b *ngIf="step.targetFrom">{{step.targetFrom}}</b><b *ngIf="step.targetFrom && step.targetTo"> - </b><b *ngIf="step.targetTo">{{step.targetTo}}</b> <b> {{service.getUnitForTargetType(step.targetType)}}</b>
          </p>
          <p>Intensity Target</p>
        </div>
      </div>


      <div class="step-note" *ngIf="step.note && step.note !== ''">
        <div>
          <p title="{{step.note}}"><i>{{step.note}}</i></p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-card>


