<mat-card class="outer-card" [ngStyle]="{'background-color': service.getColor(step.type)}">
  <mat-card-header class="card-header">
    <mat-card-title class="title">{{step.type}}</mat-card-title>
    <div *ngIf="editable">
      <button mat-icon-button matSuffix (click)="onEditStep()" type="button" class="icon-button"><mat-icon class="icon">edit</mat-icon></button>
      <button mat-icon-button matSuffix (click)="onDeleteStep()" type="button" class="icon-button"><mat-icon class="icon">delete</mat-icon></button>
    </div>
  </mat-card-header>

  <mat-card class="inner-card">
    <mat-card-content class="step-content">
      <p>{{step.duration_distance}}{{step.duration_distance_unit}}</p>
      <p>{{step.target_from}}-{{step.target_to}} {{service.getUnitForTargetType(step.target_type)}}</p>
      <p>{{step.note}}</p>
    </mat-card-content>
  </mat-card>
</mat-card>


