@import "../../../../style/color-palette";

.notification-card {
  min-width: 305px;
  box-shadow: none;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

mat-icon {
  color: $muted;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
}

.title-container {
  flex: 1;
}

.wrapper-card {
  padding-left: 10px;
  margin: 10px;
}

.not-read {
  background-color: $mat-accent;
}
