.activity-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80pt;
  width: 100%;
}


.activity-card-content {
  width:100%;
  max-height: 60pt;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}

.activity-icon {
  height: 64px;
  width: 64px;
}

.activitycard-column {
  margin: 10px;
  min-height: 100%;
  width: 20%;
}
.checkbox {
  display: flex;
}


.activitycard-fat{
  font-weight: bolder;
}

.mover{
  margin-left: auto;
  padding:10px
}

.colored-bar {
  height: 100%;
  width: 8px; /* Adjust the width of the colored bar */
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
