<div class="width-100 centered-column-container">
  <div class="main-container">
    <form [formGroup]="resetForm" (ngSubmit)="onFormSubmit()">

      <!-- New Password -->
      <mat-form-field appearance="outline">
        <mat-label>Enter your new password</mat-label>
        <input matInput [type]="hidePwd ? 'password' : 'text'" required formControlName="password">
        <button mat-icon-button matSuffix (click)="hidePwd = !hidePwd" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePwd" type="button">
          <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="resetForm.controls['password'].errors?.['required']">Field is required</mat-error>
        <mat-error *ngIf="resetForm.controls['password'].errors?.['minlength']">At least 8 characters</mat-error>
      </mat-form-field>
      <password-strength-meter [password]="resetForm.controls.password.value" [minPasswordLength]="8" [enableFeedback]="true"></password-strength-meter>

      <div class="whitespace-xtiny"></div>

      <!-- Confirm new password -->
      <mat-form-field appearance="outline">
        <mat-label>Confirm your new password</mat-label>
        <input matInput [type]="hidePwdConfirm ? 'password' : 'text'" required
               formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hidePwdConfirm = !hidePwdConfirm" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePwdConfirm" type="button">
          <mat-icon>{{hidePwdConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="resetForm.controls.confirmPassword.errors?.['matching']">Passwords do not match</mat-error>
      </mat-form-field>

      <!-- LOGIN BUTTON -->
      <div class="whitespace-xtiny"></div>
      <div class="centered-container">
        <button class="login-button stroked" mat-stroked-button color="primary" [disabled]="!resetForm.valid"
                type="submit">RESET PASSWORD
        </button>
      </div>

    </form>

  </div>
</div>
