<div style="height: 100vh; display: block; width: 100vw">
  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer mode="over" position="end" (closed)="markAllNotificationsAsRead()" (opened)="onOpen(drawer)">
      <app-notification-list></app-notification-list>
    </mat-drawer>
    <div class="router-container">
      <mat-toolbar color="primary" class=" centered-row-container" style="justify-content: space-between">
        <div [routerLink]="'/'" class="large-button">
          AthleteView
        </div>

        <div>
          <button mat-flat-button color="primary" [routerLink]="'/'">
            Home
          </button>

          <button mat-flat-button color="primary" [routerLink]="'/activity'">
            Activities
          </button>

          <button mat-flat-button color="primary" [routerLink]="'/calendar'">
            Calendar
          </button>

          <button mat-flat-button *ngIf="currentUserType==='trainer'" color="primary"  [routerLink]="'/trainingsplan'">
            Trainingsplan
          </button>
        </div>
        <div class="btn-group">
          <button
            mat-icon-button
            matSuffix
            (click)="drawer.toggle()"
            type="button">
            <mat-icon
              aria-hidden="false"
              [matBadge]="getNumberOfUnreadNotifications()"
              [matBadgeHidden]="getNumberOfUnreadNotifications() === 0"
              matBadgeColor="warn">
              notifications
            </mat-icon>
          </button>

          <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
            {{email}}
            <mat-icon>person</mat-icon>
          </button>
        </div>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openImportDialog()">
            <mat-icon>upload_file</mat-icon>
            Fit Import
          </button>
          <button mat-menu-item (click)="mockHealthData()">
            <mat-icon>input</mat-icon>
            Mock Health Data
          </button>
          <button mat-menu-item [routerLink]="'/profile'">
            <mat-icon>person</mat-icon>
            Profile
          </button>
          <button *ngIf="currentUserType==='trainer'" mat-menu-item (click)="openInviteDialog()">
            <mat-icon>person_add</mat-icon>
            Invite athletes
          </button>
          <button mat-menu-item (click)="openZoneDialog()">Edit Zones</button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      </mat-toolbar>

      <div style="padding:1vh 1vw">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</div>
