<div class="navbar flex-end-row-container">
  <button mat-raised-button [routerLink]="'/'">
    <mat-icon>home</mat-icon>
    Home
  </button>

  <button mat-raised-button [routerLink]="'/activity'">
    <mat-icon>home</mat-icon>
    Activities
  </button>

  <button mat-raised-button [routerLink]="'/calendar'">
    <mat-icon>home</mat-icon>
    Calendar
  </button>

  <button mat-raised-button [routerLink]="'/profile'">
    <mat-icon>person</mat-icon>
    Profile
  </button>
  <button mat-raised-button (click)="logout()">
    <mat-icon>home</mat-icon>
    Logout
  </button>

  <button
    mat-icon-button
    matSuffix
    type="button"
    id="more"
    [matMenuTriggerFor]="menu">
    <mat-icon
      aria-hidden="false">
      more_vert
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openImportDialog()">
      <mat-icon>upload-file</mat-icon>
      Fit Import
    </button>
    <button mat-menu-item (click)="openZoneDialog()">Edit Zones</button>
  </mat-menu>

</div>

<div style="padding:1vh 1vw">
  <router-outlet></router-outlet>
</div>
