<div class="navbar flex-end-row-container">
  <button mat-raised-button [routerLink]="'/'">
    <mat-icon>home</mat-icon>
    Home
  </button>

  <button mat-raised-button [routerLink]="'/activity'">
    <mat-icon>home</mat-icon>
    Activities
  </button>

  <button mat-raised-button [routerLink]="'/calendar'">
    <mat-icon>home</mat-icon>
    Calendar
  </button>

  <button mat-raised-button (click)="openImportDialog()">
    <mat-icon>upload-file</mat-icon>
    Fit Import
  </button>

  <button mat-raised-button [routerLink]="'/profile'">
    <mat-icon>person</mat-icon>
    Profile
  </button>

  <button mat-raised-button (click)="mockHealthData()">
    <mat-icon>input</mat-icon>
    Mock Health Data
  </button>

  <button mat-raised-button (click)="logout()">
    <mat-icon>home</mat-icon>
    Logout
  </button>
</div>

<div style="padding:1vh 1vw">
  <router-outlet></router-outlet>
</div>
